/* ===== GENERAL ===== */
.root {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

.general-background {
    -fx-background-color: #393e46;
}

/* ===== SIDEBAR ===== */
.sidebar {
    -fx-background-color: #222831;
    -fx-padding: 10 0 10 0;
}

.sidebar .top-padding {
    -fx-background-color: #13161b;
}

/* ===== CONTENT AREA ===== */
.content-area {
    -fx-background-color: #393e46;
}

/* ===== BUTTONS ===== */

.addPaciente-box {
    -fx-background-color: #13161b;
    -fx-text-fill: white;
    -fx-padding: 0 0 10 0;
}

/* Regular button */
.button {
    -fx-background-color: #142f41;
    -fx-text-fill: white;
    -fx-padding: 10 10;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.button:pressed {
    -fx-background-color: #1c5a85;
}

/* Patient list button */
.patient-button {
    -fx-background-color: #165580;
    -fx-text-fill: white;
    -fx-max-width: Infinity;
    -fx-cursor: hand;
}

.patient-button:hover {
    -fx-background-color: #2980b9;
}


/* ===== TEXT FIELD (Search) ===== */
.text-field {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 5;
    -fx-padding: 10 10;
    -fx-prompt-text-fill: #7f8c8d;
}

.scroll {
    -fx-background: #353c49;
}

/* ===== TITLE ===== */
.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
